nav {
    display: inline-flex;
    flex-direction: row;
    background-color: rgba(66, 57, 110, 0.662);
    /* opacity: .75; */
    width: 100%;
    align-items: center;
    padding: 4px;
}
nav .navbar{
    align-content: center;
}
nav a:hover{
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    transition: .5s ease-in-out;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
nav a{
    padding: 10px;
    margin-left: 5px;
    margin-right:50px;
    margin-left: 50px;
    padding: 5px, 5px, 5px, 5px;
}

body {
    margin: 0;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
     
}
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    pointer-events: none; 
}

.background {
    transform: translateZ(-10px) scale(2);
    z-index: -1;
    
}

.foreground {
    transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
    position: absolute;
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.clouds {
    transform: translateZ(-5px) scale(1.1);
    position: relative;
    width: 100%; 
    top: -60%;
    object-fit: cover;
    z-index: -1;
    
}

#moon {
    transform: translateZ(-7px) scale(1.75);
    position: absolute;
    width: 20%;
    left: 75%;
    top: 20%;
    z-index: 1;   
    pointer-events: auto; 
}
#moon:hover {
    transform: translateZ(-7px) scale(1.85);
    position: absolute;
    width: 20%;
    left: 75%;
    z-index: 1;  
    cursor: pointer;
     -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
         filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

#crescentMoon {
    visibility: hidden;
    transform: rotate(-40deg) translateZ(-7px) scale(1.75);
    position: absolute;
    width: 20%;
    left: 75%;
    top: 20%;
    z-index: 1; 
    pointer-events: auto; 
}
#crescentMoon:hover {
    transform: rotate(-40deg) translateZ(-7px) scale(1.85);
    cursor: pointer;
    -webkit-filter: drop-shadow(12px 12px 12px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 12px rgba(0, 0, 0, 0.5));
    /* transform: rotate(-40deg); */
}



.name {
    margin-top: 150px;

    font-size: 7rem;
    color: white;
    text-shadow: 0 0 5px black;
}

h3 {
    font-size: 2rem;
    padding: 2rem;
    background-color: transparent;
    color: white;
    text-shadow: 0 0 5px black;
}
p{
    font-size: 1rem;
    padding: 1rem;
    background-color: transparent;
    color: white;
    text-shadow: 1px 1px 1px black;
}


.introTextBox {
    transform: translateZ(-5px) scale(1.70);;
    visibility: hidden;
    position: absolute;
    width: 35%;
    top: 25%;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, rgba(64, 30, 255, 0.562) , rgba(31, 0, 168, 0));
    /* border: 2px solid white; */
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
    /* box-shadow: 5px 5px 3px rgb(0, 0, 0); */
}
.introTextBox .defaultHeadshot {
    display: flex;
    flex-direction: row;
    width: 35%;
	
}
.introTextBox .introText {
    position: relative;
    display: inline-block;
    flex-direction: row;
    width: 65%;
    top: 15%;
    word-wrap: break-word;
    font-size: 1.1rem;
    color: aliceblue;
    text-shadow: 0 0 2px black;
}
#yesButton{
    color: rgb(255, 255, 255);
    transform: translateZ(-7px);
    background: #4c00ff61;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 30%;
    left: 55%;
    font-size: 1rem;  
    z-index: 1;   
    pointer-events: auto; 
    border-radius: 4px;
    border: none;
}
#yesButton:hover{
    transform: translateZ(-7px) scale(1.5);
    color: rgb(1, 255, 1);
     -webkit-filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.5));
         filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.5));
         

}
#noButton{
    color: rgb(255, 255, 255);
    background: #4c00ff58;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 30%;
    left: 62%;
    margin: auto; 
    font-size: 1rem;   
    z-index: 1;   
    pointer-events: auto; 
    border-radius: 4px;
    border: none;
}
#noButton:hover{
    transform: translateZ(-7px) scale(1.5);
    color: red;
     -webkit-filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.5));
         filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.5));
}         

#startgameStar {
    transform: translateZ(-10px) scale(2);
    border: none;
    pointer-events: auto;
    display: flex;
    position: absolute;
    left: 90%;
    top: 5%;
    width: 40px;
    height: 40px;
    z-index: 1;  
    background: rgb(255, 252, 175);
    box-shadow:
    0 0 60px 30px rgb(255, 242, 129),
    0 0 100px 60px rgb(255, 233, 110),
    0 0 140px 90px rgb(255, 208, 0);
    border-radius: 50%;
    animation: animate 3s ease-in-out infinite;
  }
  @keyframes animate {
    0%,
    40%,
    100% {
      transform: scale(0.1);
    }
    20% {
      transform: scale(.5);
    }
  }
  #startgameStar:hover {
    transform: translateZ(-7px) scale(1.85);
    cursor: pointer;
    pointer-events: auto;
}

.btn-group {
    
    pointer-events: auto; 
}

#time {
    position: fixed;
    color: white;
    bottom: 3%;
    left: 90%;
    height: 40px;
    font-size: 2rem;
    background-image: linear-gradient(to right, rgba(29, 25, 53, 0.477) , rgba(34, 24, 78, 0.362));
    /* border: 2px solid white; */
    border-radius: 5px;
    padding: 8px 8px 8px 8px;

}

#hud {
    position: fixed;
    color: white;
    bottom: 3%;
    right: 90%;
    height: 40px;
    font-size: 2rem;
    background-image: linear-gradient(to right, rgba(29, 25, 53, 0.477) , rgba(34, 24, 78, 0.362));
    /* border: 2px solid white; */
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
}
#hud:hover {
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    transition: .5s ease-in-out;
}
#clickHud {
    position: fixed;
    color: white;
    bottom: 3%;
    right: 76%;
    height: 40px;
    font-size: 2rem;
    background-image: linear-gradient(to right, rgba(29, 25, 53, 0.477) , rgba(34, 24, 78, 0.362));
    /* border: 2px solid white; */
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
}

  